<!--!=は等しくないの意味-->
<%# if current_user != nil %>
<!--もしcurrent_user.nilじゃなかったら？-->
<% if !current_user.nil? %>
    <% if anime.favorited_by?(current_user) %>
      <p>
        <%= link_to user_anime_favorites_path(anime), method: :delete, remote: true do %>
          ♥<%= anime.favorites.count %>
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to user_anime_favorites_path(anime), method: :post, remote: true do %>
          ♡<%= anime.favorites.count %>
        <% end %>
      </p>
    <% end %>
<% else %>
    ♥<%= anime.favorites.count %>
<% end %>