<div class="container">
  <div class="row">
    <h3>ジャンル・声優追加希望などございましたら こちらにメッセージをお願いします。</h3>
    <div class="col-5 mt-5">
      <%= form_with model: @message, url:user_messages_path, local:true do |f| %>
      <h4>メッセージ</h4>
      <%= f.text_area :message_content %>
      <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-7 mt-5">
      <% Message.all.each do |message| %>
        <table>
          <td>
            <%= message.message_content %>
            <!--コメントしたuserのみ削除可能-->
            <% if message.user == current_user %>
              <%= link_to "削除する", user_message_path(message.id), method: :delete, :class => "btn btn-outline-secondary btn-block", data: {confirm: "削除しますか？"} %>
            <% end %>
          </td>
        </table>
      <% end %>
    </div>
  </div>
</div>