<div class="container">
  <div class="row">
    <h3 class="my-4">ジャンル・声優追加希望などございましたら こちらにメッセージをお願いします。</h3>
    <div class="col-5 mt-5">
      <!--<%# if @message.errors.any? %>-->
      <!--  <%#= @message.errors.count %>件のエラーが発生しました-->
      <!--  <%# @message.errors.full_messages.each do |message| %>-->
      <!--    <%#= message %>-->
      <!--  <%# end %>-->
      <!--<%# end %>-->
      <%= form_with model: @message, url:user_messages_path, local:true do |f| %>
      <h4>メッセージ</h4>
      <%= f.text_area :message_content %>
      <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-7 mt-5">
      <% Message.all.each do |message| %>
        <div class="my-4">
          <div style="display:inline-block; background:#fcfcff; padding:15px; border:1px solid #555555; border-radius:10px; word-break:break-all;">
            <%= message.message_content %>
          </div>
          <!--コメントしたuserのみ削除可能-->
          <% if message.user == current_user %>
            <%= link_to "削除する", user_message_path(message.id), method: :delete, :class => "btn btn-outline-danger btn-sm", data: {confirm: "削除しますか？"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>