<div class="container">
  <div class="row">
    <h3 class="my-4">ジャンル・声優追加希望などございましたら こちらにメッセージをお願いします。</h3>
    <div class="col-5 mt-5">
      <% if @message.errors.any? %>
        <%= @message.errors.count %>件のエラーが発生しました
        <% @message.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_with model: @message, url:admin_messages_path, local:true do |f| %>
      <h4>メッセージ</h4>
      <%= f.text_area :message_content %>
      <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-7 mt-5">
      <% Message.all.each do |message| %>
        <div class="my-4">
          <%= message.message_content %>
          <%= link_to "削除する", admin_message_path(message.id), method: :delete, :class => "btn btn-outline-danger", data: {confirm: "削除しますか？"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>