<div class="container">
    <div class="row">
      <div class="col-5 mt-5">
        <% if @genre.errors.any? %>
          <%= @genre.errors.count %>件のエラーが発生しました
          <% @genre.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <h3>ジャンル追加</h3>
        <%= form_with model:@genre, url:admin_genres_path, method: :post, local:true do |f| %>
          <h6>ジャンル名</h6>
          <%= f.text_field :name, :size=>"30×5" %>
          <div class="actions mt-2">
            <%= f.submit "新規登録", :class => "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
      <div class="col-7 mt-5">
        <h5>ジャンル一覧</h5>
        <% @genres.each do |genre| %>
          <table class="GenreTable">
            <tr>
              <td>
                <%= genre.name %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_genre_path(genre), :class => "btn btn-outline-secondary" %>
              </td>
              <td>
                <%= link_to "削除する", admin_genre_path(genre), method: :delete, :class => "btn btn-outline-danger", data: {confirm: "削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>