<div class="container">
  <div class="row">
    <div class="col-4 mt-5">
      <% if @voice.errors.any? %>
          <%= @voice.errors.count %>件のエラーが発生しました
          <% @voice.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
      <%= form_with model: @voice, url:admin_voices_path, local:true do |f| %>
        <h6>声優名</h6>
        <%= f.text_field :name, :size=>"30×5" %>
        <div class="actions mt-1">
          <%= f.submit "新規登録", :class => "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
    <div class="col-8 mt-5">
      <div class="mb-3">
        <%= form_with url: search_admin_voices_path, method: :get, local:true do |f| %>
         <%= f.text_field 'keyword', placeholder: "検索する" %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
      <h4>声優一覧</h4>
      <% @voices.each do |voice| %>
        <table>
          <td>
            <%= link_to voice.name, admin_voice_path(voice.id), :class => "text-dark" %>
          </td>
        </table>
      <% end %>
    </div>
  </div>
</div>