<div class="container">
    <div class="row">
      <%= @animes.genre.name %>
      <div class="col-4">
        <%= form_with model:@anime, url:admin_genres_path, local:true do |f| %>
          <h6>おすすめアニメタイトル</h6>
          <%= f.text_field :name, :size=>"30×5" %>

          <div class="actions">
            <%= f.submit "追加", :class => "btn btn-outline-secondary btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <table>
          <% @animes.each do |anime| %>
            <tr>
              <td>
                <%= link_to anime.title %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_genre_path(genre), :class => "btn btn-outline-secondary btn-block" %>
              </td>
              <td>
                <%= link_to "削除する", admin_genre_path(genre), method: :delete, :class => "btn btn-outline-secondary btn-block", data: {confirm: "削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>