<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <%= @anime.title %>
        <div id="favorite-btn_<%= @anime.id %>">
          <%= render partial: 'user/favorites/favorite-btn', locals: { anime: @anime} %>
        </div>
        <%# if current_user != nil %>
        <!--<%# if !current_user.nil? %>-->
        <!--  <%# if @anime.favorited_by?(current_user) %>-->
        <!--    <p>-->
        <!--      <%#= link_to user_anime_favorites_path(@anime), method: :delete do %>-->
        <!--        ♥<%#= @anime.favorites.count %>-->
        <!--      <%# end %>-->
        <!--    </p>-->
        <!--  <%# else %>-->
        <!--    <p>-->
        <!--      <%#= link_to user_anime_favorites_path(@anime), method: :post do %>-->
        <!--        ♡<%#= @anime.favorites.count %>-->
        <!--      <%# end %>-->
        <!--    </p>-->
        <!--  <%# end %>-->
        <!--<%# else %>-->
        <!--  ♥<%#= @anime.favorites.count %>-->
        <!--<%# end %>-->
        <!--<%#= @anime_url.url %>-->
      </div>
    </div>
    <div class="row">
    <!--ログインしたユーザーのみ表示-->
    <% if user_signed_in? %>
      <div class="col-4 mt-5">
        <%= form_with model: @voice, url: user_voices_path, local:true do |f| %>
          <table>
            <th><%= f.label :"出演声優追加", class: "mr-5" %></th>
            <td>
              <div class="form-group">
                <%= f.collection_select :voice_id, @voices, :id, :name, {prompt: "選択してください"}%>
              </div>
              <!--アニメidを送る-->
              <%= f.hidden_field :anime_id, :value => @anime.id %>
              <div class="actions">
                <%= f.submit "出演", :class => "btn btn-outline-secondary btn-block" %>
              </div>
            </td>
          </table>
        <% end %>
        <div class="new-comment">
          <!--アニメに結びついたコメントのため２つ必要-->
          <%= form_with(model:[@anime,@comment], url: user_anime_comments_path(anime_id: @anime.id), local: true) do |f| %>
            <%= f.text_area :comment_content, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <div class="col-4 mt-5">
        <div class="comments">
          <p>コメント件数：<%= @comments.count %></p>
          <% @comments.each do |comment| %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
            <%= comment.comment_content %>
          <% end %>
        </div>
      </div>
      <div class="col-4 mt-5">
        <h6>出演声優</h6>
        <table>
          <tr>
            <!--中間テーブルからアニメに紐づいた声優さんを持ってきている-->
            <% @anime_voices.each do |a| %>
              <td>
                <%= a.voice.name %>
                <%#= a.anime.title %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
</div>