<div class="container">
  <div class="row">
    <div class="card col-lg-6 col-md-10 col-sm-12 m-auto">
      <div class="card-body">
        <div class="col mx-auto mt-10">
          <h2>Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :"メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col m-auto" %>
            </div>

            <div class="my-3">
              <div class="actions">
                <%= f.submit "Send me reset password instructions", class: "btn btn-outline-secondary btn-block" %>
              </div>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>