<!DOCTYPE html>
<html>
  <head>
    <title>FindYourWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg" >
      <div class="container" >
        <span><%= link_to "HOME", root_path, class: "navbar-brand" %></span>
        <% if user_signed_in? %>
          <ul class="navbar-nav">
            <span class="nav-item-content">ようこそ <%= current_user.name %>さん！</span>
            <li class="nav-item">
              <%= link_to " アニメ", user_animes_path, class: 'fas fa-user faa-wrench nav-link badge badge-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to " 声優", user_voices_path, class: 'fas  fa-birthday-cake faa-wrench nav-link badge badge-pill ' %>
            </li>
            <li class="nav-item">
              <%= link_to " メッセージ", user_messages_path, class: 'fas fa-shopping-cart faa-wrench nav-link badge badge-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt faa-wrench nav-link badge badge-pill' %>
            </li>
          </ul>
        <% elsif admin_signed_in? %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to " アニメ", admin_animes_path, class: "fas fa-birthday-cake fa-fw faa-wrench nav-link badge badge-pill" %>
            </li>
            <li class="nav-item">
              <%= link_to " 声優", admin_voices_path, class: "fas fa-users fa-fw faa-wrench nav-link badge badge-pill" %>
            </li>
            <li class="nav-item">
              <%= link_to " ジャンル一覧", admin_genres_path, class: "fas fa-list-alt fa-fw faa-wrench nav-link badge badge-pill" %>
            </li>
            <li class="nav-item">
              <%= link_to " メッセージ", admin_messages_path, class: "fas fa-file-alt fa-fw faa-wrench nav-link badge badge-pill" %>
            </li>
            <li class="nav-item">
              <%= link_to " ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt fa-fw faa-wrench nav-link badge badge-pill" %>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to " アニメ", user_animes_path, class: 'fas fa-info-circle faa-wrench nav-link  badge badge-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to " 声優", user_voices_path, class: 'fas  fa-birthday-cake faa-wrench nav-link  badge badge-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to " 新規登録", new_user_registration_path, class: 'fas fa-user-plus faa-wrench nav-link  badge badge-pill' %>
            </li>
            <li class="nav-item">
              <%= link_to " ログイン", new_user_session_path, class: 'fas fa-sign-in-alt faa-wrench nav-link  badge badge-pill' %>
            </li>
          </ul>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="fixed-bottom text-center">
      Find_Your_Wrold
    </footer>
  </body>
</html>
