<div class="container">
    <div class="row">
      <div class="col-4">

        <!--<div class="col-2 off-set-1">-->
       <ul class="list-group">
       <li class="list-group-item"><strong>ジャンル検索</strong></li>
        <% @genres.each do |genre| %>
        <li class="list-group-item"><%= link_to genre.name, search_path('search[value]': genre.id) %></li>
        <% end %>
       </ul>
       <!--</div>-->

        <%= form_with model:@anime, url:admin_genres_path, local:true do |f| %>
          <h6>おすすめアニメタイトル</h6>
          <%= f.text_field :name, :size=>"30×5" %>

          <div class="actions">
            <%= f.submit "追加", :class => "btn btn-outline-secondary btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="col-8">
        <table>
          <% @animes.each do |anime| %>
            <tr>
              <td>
                <%= link_to anime.title %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_genre_path(genre), :class => "btn btn-outline-secondary btn-block" %>
              </td>
              <td>
                <%= link_to "削除する", admin_genre_path(genre), method: :delete, :class => "btn btn-outline-secondary btn-block", data: {confirm: "削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @animes %>
      </div>
    </div>
</div>