<div class="container">
    <div class="row">
      <div class="col-6 text-center">
        <h2><%= @anime.title %></h2>
        <i class="fas fa-heart like-btn" ></i>
        <%= @anime.favorites.count %>
      </div>
      <div class="col-6 text-center">
        <!--urlを表示-->
        <% @anime_urls.each do |url| %>
          <table>
            <td>
            <%= Rinku.auto_link(url.address, :all, 'target="_blank"').html_safe %>
            <%= link_to "削除する", admin_anime_url_path(url.id) , method: :delete, :class => "btn btn-outline-danger", data: {confirm: "削除しますか？"} %>
            </td>
          </table>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-5">
        <% if @anime_url.errors.any? %>
          <%= @anime_url.errors.count %>件のエラーが発生しました
          <% @anime_url.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @anime_url, url: admin_anime_urls_path(id: params[:id]), local:true do |f| %>
          <h6>アニメURL</h6>
          <%= f.text_field :address, :size=>"30×5" %>

          <!--アニメidを送る-->
          <%= f.hidden_field :anime_id, :value => @anime.id %>

          <div class="actions mt-1">
            <%= f.submit "追加", :class => "btn btn-outline-secondary" %>
          </div>
        <% end %>
         <%= link_to "アニメ一覧に戻る", admin_animes_path, :class => "text-info" %>
      </div>
      <div class="col-5 mt-5">
        <div class="comments">
          <h2>
            <i class="far fa-star"></i>
            おすすめポイント
            <i class="far fa-star"></i>
          </h2>
          <p>コメント件数：<%= @comments.count %></p>
          <%= render 'admin/comments/commentlists', comments: @comments %>
        </div>
      </div>
      <div class="col-3 mt-5">
        <h6>出演声優</h6>
        <table>
          <!--中間テーブルからアニメに紐づいた声優さんを持ってきている-->
          <% @anime_voices.each do |a| %>
            <tr>
              <td>
                <%=link_to a.voice.name, admin_voice_path(a.voice.id), :class => "text-dark" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>