<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <%= @anime.title %>
        ♥<%= @anime.favorites.count %>

        <!--urlを表示-->
        <% @anime_urls.each do |url| %>
          <table>
            <td>
            <%= Rinku.auto_link(url.address, :all, 'target="_blank"').html_safe %>
            <%= link_to "削除する", admin_anime_url_path(url.id) , method: :delete, :class => "btn btn-outline-secondary", data: {confirm: "削除しますか？"} %>
            </td>
          </table>
        <% end %>

      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-5">
        <%= form_with model: @anime_url, url: admin_anime_urls_path, local:true do |f| %>
          <h6>アニメURL</h6>
          <%= f.text_field :address, :size=>"30×5" %>

          <!--アニメidを送る-->
          <%= f.hidden_field :anime_id, :value => @anime.id %>

          <div class="actions mt-1">
            <%= f.submit "追加", :class => "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
      <div class="col-4 mt-5">
        <div class="comments">
          <p>コメント件数：<%= @comments.count %></p>
          <table>
            <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td><%= comment.comment_content %></td>
                <td>
                  <%= link_to "削除する", user_anime_comment_path(comment.anime, comment) , method: :delete, remote: true, :class => "btn btn-outline-secondary", data: {confirm: "削除しますか？"} %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-4 mt-5">
        <h6>出演声優</h6>
        <table>
          <!--中間テーブルからアニメに紐づいた声優さんを持ってきている-->
          <% @anime_voices.each do |a| %>
            <tr>
              <td>
                <%= a.voice.name %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>